* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "cpsp" on;
  font-feature-settings: "frac" on;
  font-feature-settings: "salt" on;
  font-feature-settings: "ss02" on;
  font-family:  "Inter", BlinkMacSystemFont, -apple-system, "Helvetica Neue", "Helvetica", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Arial", sans-serif;
}
